{% extends "_layouts/app.html" %}
{% import "_macros/form.html" as Form %}
{% import "_macros/button.html" as Button %}
{% import "_macros/link_button.html" as LinkButton %}
{% from "_macros/pagination.html" import Pagination %}

{% block head %}
<title>{{ institution.name }}</title>
{% endblock %}

{% block content %}
<main class="flex-1 flex flex-col p-4 pt-16">
    <h1 class="text-3xl font-semibold mt-[1em] text-center text-balance">{{ institution.name }}</h1>
    <form action="/institutions/{{institution_id}}/add/user" method="post" class="flex flex-row gap-4 mt-2">
        {{ form_new_user.csrf_token }}
        {{ Form.render_field(form_new_user.email) }}
        <select id="new-role-dropdown-select" name="new-role" class="block  pt-2 pb-1 px-2  text-sm md:text-base shadow-sm
                rounded border border-b-2 border-zinc-300 bg-white text-zinc-900
                appearance-none focus:outline-none focus:ring-0 focus:border-orange-600 w-[16ch]">
            {% for role in roles %}
            <option value="{{ role[0] }}">{{ role[1]}}</option>
            {% endfor%}
        </select>
        {{ Button.primary("Agregar usuario", "submit") }}
    </form>
    <ul>
        {% for user, user_role in users %}
        <li class="mb-4 p-4 border rounded shadow-lg flex justify-between items-center">
            <div>
                <h2 class="text-xl font-semibold mb-2">{{ user.username }}</h2>
                <p><strong>Email: </strong> {{ user.email }}</p>
            </div>

            <div class="flex gap-4 items-center">
                <form method="POST" action="/institutions/{{institution_id}}/edit/role">
                    {{ Form.new_csrf_token() }}
                    <input type="hidden" name="user_id" value={{user.id}}>
                    <div class="flex gap-4 items-center">
                        <select id="role-dropdown-select" name="role" class="block  pt-2 pb-1 px-2  text-sm md:text-base shadow-sm
            rounded border border-b-2 border-zinc-300 bg-white text-zinc-900
            appearance-none focus:outline-none focus:ring-0 focus:border-orange-600 w-[16ch]">
                            {% for role in roles %}
                            <option value="{{ role[0] }}" {% if role[0]==user_role.name %}selected{% endif %}>{{ role[1]
                                }}</option>
                            {% endfor%}
                        </select>
                        {{ Button.primary("Editar Rol", type="submit") }}
                    </div>
                </form>
                <form method="POST" action="/institutions/{{ institution.id }}/delete/user">
                    <input type="hidden" name="user_id" value={{user.id}}>
                    {{ Form.new_csrf_token() }}
                    {% set props = {"data-user-delete-" ~ user.username: ""} %}
                    {{ Button.danger("Eliminar", type="submit", **props) }}
                </form>
                {{ Form.click_confirmation("[data-user-delete-" ~ user.username ~ "]",
                "¿Estás seguro que deseas eliminar al usuario " ~ user.username ~ "?\n Esta acción no se puede
                deshacer.")
                }}
            </div>
        </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}
