{% macro Pagination(current, per_page, total, query_args=[]) %}
{% set url_args = ("&" ~ query_args|join("&")) if query_args else "" %}
{% set num_pages = total // per_page + (total % per_page > 0) %}
<nav class="flex flex-col items-center gap-2 py-2 font-normal text-zinc-900">
  <ul class="flex items-center gap-2 [&_a:hover]:underline [&_a]:underline-offset-2">
    {% if current > 1 %}
    <li class="mr-2">
      <a href="?page={{ current - 1 }}{{ url_args }}"
        class="bg-orange-200 text-zinc-800 px-3 text-sm shadow-sm h-8 grid items-center rounded-md hover:ring-1 hover:ring-zinc-800">
        <span class="sr-only">Anterior</span>
        <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="m15 18-6-6 6-6" />
        </svg>
      </a>
    </li>
    {% endif %}{% for i in range(1, num_pages + 1) %}
    <li>
      <a href="?page={{ i }}{{ url_args }}" class="grid h-8 items-center rounded-md px-3 text-sm shadow-sm hover:ring-1 hover:ring-zinc-800
        {{ 'bg-orange-600 text-orange-50' if i == current else 'bg-orange-200 text-zinc-800' }}">
        {{ i }}
      </a>
    </li>
    {% endfor %}{% if current * per_page < total %}
      <li class="ml-2">
      <a href="?page={{ current + 1 }}{{ url_args }}"
        class="bg-orange-200 text-zinc-800 px-3 text-sm shadow-sm h-8 grid items-center rounded-md hover:ring-1 hover:ring-zinc-800">
        <span class="sr-only">Siguiente</span>
        <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="m9 18 6-6-6-6" />
        </svg>
      </a>
      </li>
      {% endif %}
  </ul>
  <p class="text-center">Página {{ current }} de {{ num_pages }}</p>
</nav>
{% endmacro %}
