{% extends "_layouts/base.html" %}

{% block base_head %}
<title>Mantenimiento en curso</title>
{% endblock %}

{% block base_body %}
<main class="flex-1 flex flex-col">
  <div class="flex-1 flex flex-col justify-center items-center">
    <h1 class="text-6xl font-bold text-balance text-center text-zinc-900">
      Mantenimiento en curso
    </h1>
    <p class="text-zinc-600">{{ maintenance_message }}</p>
  </div>
  <p class="text-center my-[1em] text-zinc-500">
    Vuelva a intentarlo más tarde
  </p>
</main>
{% endblock %}
