.current-page {
    background-color: #007BFF;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.pagination {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

ul.pagination a {
    color: #0080ff;
    text-decoration: none;
    margin: 0 10px;
}

ul.pagination .current-page {
    color: #000000;
    background-color: #00a2ff;
    border-radius: 5px;
}

table {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

form {
    margin: 20px;
}

.filter-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50; /* color de fondo */
    color: #4CAF50
}


