{% extends "_layouts/app.html" %}
{% import "_macros/button.html" as Button %}
{% import "_macros/form.html" as Form %}
{% import "_macros/link_button.html" as LinkButton %}
{% import "_macros/table.html" as Table %}
{% from "_macros/pagination.html" import Pagination %}

{% block head %}
<title>Instituciones - Pinta Service</title>
{% endblock %}

{% block content %}
<main class="flex-1 flex flex-col p-4">
  <div class="flex flex-wrap justify-between">
    <h1 class="mt-[1em] mb-4 text-3xl font-semibold">Instituciones</h1>
    <div class="flex flex-wrap gap-4 mt-auto mb-4">
      {{ LinkButton.success("Crear Institución", "/admin/institutions/new") }}
      {{ LinkButton.primary("Volver al panel", "/admin", class="hidden md:block") }}
    </div>
  </div>

  <div class="mt-4 mx-auto md:max-h-[48rem]">
    {% call Table.Table() %}
    {{ Table.TableHead(("Nombre", "Información", "Dirección", "Ubicación", "Acciones")) }}
    <tbody>
      {% if institutions|length == 0 %}
      <tr>
        <td class="text-center font-medium" colspan="5">No se encontraron instituciones</td>
      </tr>
      {% endif %}
      {% for institution in institutions %}
      <tr>
        <td>{{ institution.name }}</td>
        <td>{{ institution.information }}</td>
        <td>{{ institution.address }}</td>
        <td>{{ institution.location }}</td>
        <td>
          <div class="flex gap-2">
            {{ LinkButton.info("Editar", "/admin/institutions/" ~ institution.id ) }}
            <form method="POST" action="/admin/institutions/{{ institution.id }}/disable" style="display: inline;">
              {{ Form.new_csrf_token() }}
              {% if institution.enabled %}
              {{ Button.warning("Deshabilitar", type="submit") }}
              {% else %}
              {{ Button.success("Habilitar", type="submit") }}
              {% endif %}
            </form>
            <form method="POST" action="/admin/institutions/{{ institution.id }}/delete" style="display: inline;">
              {{ Form.new_csrf_token() }}
              {% set props = {"data-button-delete-institution": "", "data-name": institution.name} %}
              {{ Button.danger("Eliminar", type="submit", **props) }}
            </form>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    {% endcall %}
  </div>

  {% if total %}<div class="mt-4 flex-none">
    {{ Pagination(page, per_page, total) }}
  </div>{% endif %}
</main>

<script>
  /** @type {NodeListOf<HTMLButtonElement>} */
  const deleteInstitutionButtons = document.querySelectorAll('[data-button-delete-institution]');

  deleteInstitutionButtons.forEach((button) => {
    button.addEventListener('click', (event) => {
      const institutionName = event.target.getAttribute('data-name');
      if (!confirm(`¿Estás seguro de que quieres eliminar la institución ${institutionName}?`)) {
        event.preventDefault();
      }
    });
  });
</script>
{% endblock %}
