{% extends "_layouts/app.html" %}
{% import "_macros/form.html" as Form %}
{% import "_macros/button.html" as Button %}

{% block head %}
<title>Institution</title>
{% endblock %}

{% block content %}
<main class="flex-1 flex flex-col my-4">
  <div class="flex flex-col md:flex-row gap-8 md:gap-16 mx-auto">
    {% call Form.render_form(form) %}
    <div class="flex flex-row gap-x-4">
      {{Button.primary("Cancelar","reset")}}
      {{Button.success("Actualizar","submit")}}
    </div>
    {% endcall %}
    {% if institution_owner %}
    <div class="flex flex-col gap-4 m-auto p-4 shadow-md rounded ring-1 bg-zinc-50 ring-orange-500">
      <div>
        <h2 class="text-xl font-bold">Dueño actual</h2>
        <p class="text-lg">
          {{ institution_owner.username }}
        </p>
        <p class="text-lg">
          {{ institution_owner.first_name }} {{ institution_owner.last_name }}
        </p>
        <p class="text-lg">
          {{ institution_owner.email }} {{ institution_owner.id }}
        </p>
      </div>
      <form action="/admin/institutions/{{ institution.id }}/remove_owner/{{ institution_owner.id }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        {{Button.danger("Remover dueño","submit")}}
      </form>
    </div>
    {% else %}
    <div class="flex flex-col mt-8 h-max p-4 shadow-md rounded ring-1 bg-zinc-50 ring-orange-500">
      <h2 class="text-xl font-bold">Asignacion de dueño</h2>

      <form action="/admin/institutions/{{ institution.id }}/add_owner" method="post" class="flex flex-col gap-4 mt-2">
        {{ form_new_owner.csrf_token }}
        {{ Form.render_field(form_new_owner.email) }}
        {{Button.primary("Asignar dueño","submit")}}
      </form>
    </div>
    {% endif %}
  </div>
</main>
{% endblock %}
