{% extends "_layouts/app.html" %}
{% import "_macros/form.html" as Form %}
{% import "_macros/button.html" as Button %}
{% import "_macros/link_button.html" as LinkButton %}

{% block head %}
<title>Informacion de solicitud</title>
{% endblock %}

{% block content %}
<main class="flex-1 flex flex-col p-4">
  <div class="flex">
    {{ LinkButton.primary(
    "Volver a las solicitudes",
    "/institutions/" ~ param_institution_id ~ "/services/" ~ param_service_id ~ "/requests"
    ) }}
  </div>
  <div class="flex flex-wrap justify-between">
    <h1 class="mt-[1em] mb-4 text-3xl font-semibold ">Detalle de la solicitud</h1>
  </div>

  <h2 class="p-2 text-2xl font-semibold mb-2">Información del Cliente:</h2>
  <p class="p-2"><strong>Nombre y apellido:</strong> {{ request_details[1].firstname }} {{ request_details[1].lastname
    }}</p>
  <p class="p-2"><strong>Email:</strong> {{ request_details[1].email }}</p>

  <h2 class="p-2 text-2xl font-semibold mb-2">Detalles del Pedido de Servicio:</h2>
  <p class="p-2"><strong>Nombre del Servicio:</strong> {{ request_details[2].name }}</p>
  <p class="p-2"><strong>Descripción del Servicio:</strong> {{ request_details[2].description }}</p>
  <div class="flex">
    {{ LinkButton.success("Historial de la solicitud",
    "/institutions/"~institution_id~"/services/"~service_id~"/requests/"~request_id~"/history") }}
  </div>



  <h2 class="mt-4 text-2xl font-semibold mb-4">Notas de la solicitud</h2>
  <ul>
    {% for username, note in notes %}
    <li class="mb-4 p-4 border rounded shadow-lg flex justify-between items-center">
      <div>
        <h2 class="text-xl font-semibold mb-2">Nota de : {{username}}</h2>
        <p><strong>Descripcion:</strong> {{ note }}</p>
      </div>

    </li>
    {% endfor %}
    <li class="flex justify-center">
      {{ LinkButton.success("Agregar Nota",
      "/institutions/"~institution_id~"/services/"~service_id~"/requests/"~request_id~"/notes/new") }}
    </li>
  </ul>
</main>
{% endblock %}