{% extends "_layouts/app.html" %}
{% import "_macros/form.html" as Form %}
{% import "_macros/button.html" as Button %}
{% import "_macros/link_button.html" as LinkButton %}
{% from "_macros/pagination.html" import Pagination %}
{% block head %}
<title>Pinta Service - Solicitudes</title>
{% endblock %}

{% block content %}
<main class="flex-1 flex flex-col p-4">
  <h1 class="text-3xl font-semibold mb-4">Solicitudes</h1>
  <ul>
    {% for request in requests %}
    <li class="mb-4 p-4 border rounded shadow-lg flex justify-between items-center">
      <div>
        <h2 class="text-xl font-semibold mb-2">{{ request.title }}</h2>
        <p><strong>Descripcion:</strong> {{ request.description }}</p>
      </div>
      
      
      
      <div class="flex gap-4 items-center" >
        
        {{ LinkButton.secondary("Ver Notas", "/institutions/"~institution_id~"/services/"~service_id~"/requests/"~request.id~"/notes") }}
        
        <form method="POST" action="/institutions/{{institution_id}}/services/{{service_id}}/requests/{{request.id}}/edit">
          <div class="flex gap-4 items-center">
          <select
            id="request-dropdown-select"
            name="request"
            class="block  pt-2 pb-1 px-2  text-sm md:text-base shadow-sm
            rounded border border-b-2 border-zinc-300 bg-white text-zinc-900
            appearance-none focus:outline-none focus:ring-0 focus:border-orange-600 w-[16ch]">
            {% for status in statuses %}
              {% if status == request.status.value %}
                      <option value="{{ status }}" selected>{{ status }}</option>
              {% else %}
                      <option value="{{ status }}">{{ status }}</option>
              {% endif %}
            {% endfor %}
          </select> 
            {{ Button.primary("Editar Estado", type="submit") }}
          </div>
        </form>
      </div>
      
        
    </li>
    {% endfor %}
  </ul>
  {{ Pagination(page, per_page, total, query_args) }}
</main>
{% endblock %}
