{% extends "_layouts/app.html" %}
{% import "_macros/form.html" as Form %}

{% block head %}
<title>Pinta Service - Instituciones</title>
{% endblock %}

{% block content %}
<main class="flex-1 flex flex-col p-4">
    <h1 class="text-3xl font-semibold mb-4">Instituciones</h1>

    <ul>
        {% for institution in institutions %}
        <li class="mb-4 p-4 border rounded shadow-lg flex justify-between items-center">
            <div>
                <h2 class="text-xl font-semibold mb-2">{{ institution.name }}</h2>
                <p><strong>Información:</strong> {{ institution.information }}</p>
                <p><strong>Dirección:</strong> {{ institution.address }}</p>
                <p><strong>Ubicación:</strong> {{ institution.location }}</p>
                <p><strong>Sitio web:</strong> {{ institution.web }}</p>
                <p><strong>Palabras clave:</strong> {{ institution.keywords }}</p>
                <p><strong>Correo electrónico:</strong> {{ institution.email }}</p>
                <p><strong>Días y Horarios de Apertura:</strong> {{ institution.days_and_opening_hours }}</p>
                <p><strong>ID:</strong> {{ institution.id }}</p>
            </div>
            <div class="flex items-center">
                <a href="/admin/institution/{{ institution.id }}/edit" class="ml-2 text-blue-500">Editar</a>

                <form method="POST" action="/admin/institution/{{ institution.id }}/delete" class="inline">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" class="text-red-500">Eliminar</button>
                </form>
            </div>
        </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}
