{% extends "layout.html" %}
{% import "_macros/form.html" as Form %}

{% block head %}
<title>Pinta Service</title>
{% endblock %}

{% block content %}
<main class="flex-1 flex flex-col p-4">
  <h1 class="text-3xl font-semibold mb-4">Servicios</h1>

  <ul>
    {% for service in services %}
      <li class="mb-4 p-4 border rounded shadow-lg flex justify-between items-center">
        <div>
          <h2 class="text-xl font-semibold mb-2">{{ service.name }}</h2>
          <p><strong>Laboratorio:</strong> {{ service.laboratory }}</p>
          <p><strong>Descripción:</strong> {{ service.description }}</p>
          <p><strong>Palabras clave:</strong> {{ service.keywords }}</p>
          <p><strong>Tipo de Servicio:</strong> {{ service.service_type.value }}</p>
        </div>
        <div class="flex items-center">
          <a href="#" class="bg-blue-500 text-white px-4 py-2 rounded mr-2">Editar</a>
          <form method="POST" action="/admin/service/{{ service.id }}/delete" class="inline">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            <button type="submit" class="text-red-500">Eliminar</button>
          </form>
        </div>
      </li>
    {% endfor %}
  </ul>
</main>
{% endblock %}
