{% extends "layout.html" %}
{% import "_macros/form.html" as Form %}

{% block head %}
<title>Pinta Service</title>
{% endblock %}

{% block content %}
<main class="flex-1 flex flex-col">
  <h1 class="text-3xl font-semibold mt-[1em] ml-2">Usuarios</h1>

  <ul>
    {% for user in users %}
        <li>
            {{ user.email }}
            {{ user.username }}
            {{ user.firstname }}
            {{ user.lastname }}
            
            <!-- Botón para Editar -->
            <a href="edit_user/{{ user.id }}" class="ml-2 text-blue-500">Editar</a>
            
            <!-- Botón para Activar/Desactivar -->
            {% if user.is_active %}
                <a href="toggle_active/{{ user.id }}" class="ml-2 text-red-400">Desactivar</a>
            {% else %}
                <a href="toggle_active/{{ user.id }}" class="ml-2 text-green-500">Activar</a>
            {% endif %}
            
            <!-- Botón para Eliminar -->
            <a href="delete_user/{{ user.id }}" class="ml-2 text-red-500">Eliminar</a>
        </li>
    {% endfor %}
  </ul>
</main>
{% endblock %}